body {
    color: pink;
    background-color: black;   
    background: url(https://i.kym-cdn.com/photos/images/original/001/064/295/b01.jpg);   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
  
  @media screen and (max-width: 1024px) { 
    img.bg {
      left: 50%;
      margin-left: -512px;   
    }
  }